SECRET_KEY=your-secret-key
JWT_SECRET_KEY=your-jwt-secret
MONGO_URI=mongodb://localhost:27017/
MONGO_DB_NAME=skinhealth_ai
SECRET_KEY=your-secret-key
JWT_SECRET_KEY=your-jwt-secret
MAIL_USERNAME=forceproject077@gmail.com
MAIL_PASSWORD=aric pemb skgd bezh
RAZORPAY_KEY_ID=rzp_test_RMHdBS5ea7cEEb
RAZORPAY_KEY_SECRET=MjkA4DpHA3iMjmJRBlX7q3Ci
MODEL_PATH=./model.pth