SECRET_KEY=your-secret-key
JWT_SECRET_KEY=your-jwt-secret
DATABASE_URL=sqlite:///skinhealth.db
MAIL_USERNAME=forceproject077@gmail.com
MAIL_PASSWORD=aric pemb skgd bezh
RAZORPAY_KEY_ID=rzp_test_RMHdBS5ea7cEEb
RAZORPAY_KEY_SECRET=MjkA4DpHA3iMjmJRBlX7q3Ci
MODEL_PATH=./model.pth